{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block main %}

<div class="container">

    <div class="row d-flex justify-content-center">
        <div class="mx-auto" style="width: 45rem;">

            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Activity Feed</h3>
                </div>
                <div class="panel-content panel-activity">
                    <form action="/home" method="POST" class="panel-activity__status" enctype="multipart/form-data">
                        <textarea name="text" placeholder="Share what you've been up to..."
                            class="form-control scrollbar-hide"
                            oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>
                        <div class="d-flex justify-content-center m-auto p-auto">
                            <h3 class="panel-title">Media</h3>
                        </div>
                        <div class="d-flex justify-content-center my-2 p-2">
                            
                            <p id="mediaPlayer" class="border border-2 rounded-3 p-2">
                                <img id="output" width="300" />
                            </p>
            
                            
                            <p  class="border border-2 rounded-3 p-2 mt-0">
                                <video id="video-output" width="300" controls>
                                    Your browser does not support the video tag.
                                </video>
                            </p>
                            
                        </div>
                        <div class="actions">
                            <div class="btn-group">
                                <label for="upload-image" type="button" class="btn-link" title="" data-toggle="tooltip"
                                    data-original-title="Post an Image">
                                    <i class="fa fa-image"><input id="upload-image" name="image" type="file"
                                            accept="image/*" onchange="loadFile(event)" /></i>

                                </label>
                                
                                <label for="upload-video" type="button" class="btn-link" title="" data-toggle="tooltip"
                                    data-original-title="Post an Video">
                                    <i class="fa fa-video-camera"><input id="upload-video" name="video" type="file"
                                            accept="video/*" onchange="loadVideo(event)"/></i>

                                </label>
                                
                            </div>
                            <button type="submit" class="btn btn-sm btn-rounded btn-info">
                                Post
                            </button>
                        </div>
                    </form>
                    <ul class="panel-activity__list">
                        {% for post in posts %}
                        <li>

                            <div class="activity__list__header">
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" />
                                <a href="#">{{ post["name"] }}</a> Posted 
                            </div>
                            <div class="activity__list__body entry-content">
                                {% if post["type"] == "image" %}
                                <ul class="gallery">
                                    <li>
                                        <img src="{{ post['path'] }}" alt="" />
                                    </li>
                                </ul>
                                
                                {% elif post["type"] == "video" %}
                                <div class="row d-flex mx-auto">
                                    <video controls width="400" alt="">
                                        <source src="{{ path['path'] }}" type="video/mp4">
                                    </video>
                                </div>
                                {% endif %}
                                <div class="activity__list__body">
                                    <p class="m-4 ms-0 p-2 ">
                                        {{ post["text"] }}</em>
                                    </p>
                                </div>
                            </div>
                            <div class="activity__list__footer">
                                <a href="#"> <i class="fa fa-thumbs-up"></i>{{ post["likes"] }}</a>
                                <a href="#"> <i class="fa fa-comments"></i>23</a>
                                <span> <i class="fa fa-clock"></i>{{ post["date"] }}</span>
                            </div>
                        </li>
                        {% endfor %}



                    </ul>
                </div>
            </div>

        </div>
    </div>

</div>
{% endblock %}