{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block main %}

<div class="container">

    <div class="row d-flex justify-content-center">
        <div class="mx-auto" style="width: 45rem;">


            <div class="panel-heading">
                <h3 class="panel-title">Activity Feed</h3>
            </div>
            <div class="panel-activity">

                <!-- Posting function Start -->
                <div class="p-4 profile-content white-box">
                    <div class="d-flex">
                        <div class="d-flex">
                            <div class="feed-profile-img">
                                <a href="/profile/{{ userData['page'] }}"><img
                                        src="{{ url_for('static',filename=userData['pic']) }}" alt="" /></a>
                            </div>
                        </div>
                        <div class="flex-grow-1 d-grid">
                            <!-- Open Modal -->
                            <button name="text" class="rounded-pill border post-text highlight" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">Share what's been on your mind...</button>
                        </div>
                    </div>
                </div>
                <!-- Posting function end -->

                <div class="profile-content">

                    <!-- Post content Start -->
                    <div class="tab-content p-0">
                        <ul class="panel-activity__list">
                            {% if posts %}
                            <!-- Iterating through all posts -->
                            {% for post in posts %}
                            {% set outer = loop %}


                            <li class="white-box p-4">

                                <!-- Profile picture and name -->
                                <div class="activity__list__header">
                                    <img src="{{ url_for('static',filename=post['pic'][6:]) }}" alt="" />
                                    <a href="/profile/{{ post['page'] }}">{{ post["name"] }}</a> Posted
                                </div>

                                <div class="activity__list__body entry-content">

                                    <ul class="gallery">

                                        <!-- Checking if mediatype is an image-->
                                        {% if post['mediatype'] == "image" %}

                                        <!-- Setting up carousel-->
                                        <div id="img{{loop.index}}" class="carousel slide" data-bs-interval="false"
                                            data-bs-wrap="true">
                                            <div class="carousel-indicators">

                                                <!-- Getting all images related to post -->
                                                {% for media in post['media'] %}

                                                <!-- Getting indicators on carousel-->
                                                <!-- First button needs to be active -->
                                                {% if loop.first %}
                                                <button type="button" data-bs-target="#img{{outer.index}}"
                                                    data-bs-slide-to="{{loop.index0}}" class="active"
                                                    aria-current="true" aria-label="Slide {{loop.index}}"></button>
                                                {% else %}
                                                <button type="button" data-bs-target="#img{{outer.index}}"
                                                    data-bs-slide-to="{{loop.index0}}"
                                                    aria-label="Slide {{loop.index}}"></button>
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                            <div class="carousel-inner">
                                                <!-- Getting images related to post -->
                                                {% for media in post["media"] %}

                                                {% if loop.first %}
                                                <div class="carousel-item active">
                                                    <img src="{{ url_for('static', filename=media) }}"
                                                        class="d-block w-100" alt="...">
                                                </div>
                                                {% else %}
                                                <div class="carousel-item">
                                                    <img src="{{ url_for('static', filename=media) }}"
                                                        class="d-block w-100" alt="...">
                                                </div>

                                                {% endif %}

                                                {% endfor %}

                                            </div>
                                            <!-- Buttons for carousel -->
                                            <button class="carousel-control-prev" type="button"
                                                data-bs-target="#img{{loop.index}}" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button class="carousel-control-next" type="button"
                                                data-bs-target="#img{{loop.index}}" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                            </button>
                                        </div>

                                        {% endif %}

                                        <!-- Checking if mediatype is video -->
                                        {% if post['mediatype'] == "video" %}

                                        <!-- Iterating through all videos related to post-->
                                        {% for media in post["media"] %}

                                        <li>
                                            <video class="res-video" controls width="400" alt="">
                                                <source src="{{ url_for('static', filename=media) }}" type="video/mp4"
                                                    preload="metadata">
                                            </video>
                                        </li>

                                        {% endfor %}

                                        {% endif %}

                                    </ul>
                                    <div class="timeline-content">
                                        <p class="m-4 ms-0 p-2 text-break">
                                            <!-- Text related to post-->
                                            {% if post['texttype'] == "story" %}

                                            {{ post["text"] }}

                                            {% endif %}

                                        </p>
                                    </div>

                                </div>
                                <div class="activity__list__footer">

                                    <!-- Form for like Button -->
                                    <form action="/home" method="post">
                                        <label for="like-button{{loop.index}}" type="button" class="btn-link" title=""
                                            data-toggle="tooltip" data-original-title="Like">
                                            <i class="fa fa-thumbs-up"><input id="like-button{{loop.index}}"
                                                    class="like-button" name="like" value="{{post['post_id']}}"
                                                    type="submit" />{{ post["likes"] }}</i>
                                        </label>
                                    </form>

                                    <a href="#"> <i class="fa fa-comments" data-bs-toggle="collapse"
                                            href="#collapseExample" role="button" aria-expanded="false"
                                            aria-controls="collapseExample"></i>{{ post["comments"]|length }}</a>

                                    <!-- Button to show all comments in post -->
                                    <button class="btn btn-primary btn-sm seeall" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#comment{{loop.index}}"
                                        aria-expanded="false" aria-controls="collapseExample">
                                        Show
                                    </button>

                                    <span> <i class="fa fa-clock"></i>{{ post["date"] }}</span>

                                </div>




                                <hr>

                                <!-- Comments Start-->
                                <div class="collapse" id="comment{{loop.index}}">

                                    <!-- Iterating through all comments related to post -->
                                    {% for comment in post["comments"] %}
                                    <div class="activity__list__header">
                                        <img src="{{ url_for('static',filename=comment['pic'][6:]) }}" alt="" />
                                        <a href="/profile/{{ comment['page'] }}">{{ comment["name"] }}</a> Commented
                                        <div class="timeline-content">
                                            <p class="m-4 ms-0 p-2 text-break">


                                                {{ comment["text"] }}


                                            </p>
                                        </div>
                                        <div class="d-flex flex-row-reverse">
                                            <span> <i class="fa fa-clock"></i>{{ comment["time"] }}</span>
                                        </div>
                                    </div>
                                    <hr>
                                    {% endfor %}
                                </div>
                                <!-- Comments End -->

                                <!-- Commenting form -->
                                <form action="/home" method="POST" class="panel-activity__status">
                                    <textarea name="commentText" focus placeholder="Comment on Post..."
                                        class="form-control scrollbar-hide"
                                        oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>
                                    <label for="comment-button{{loop.index}}" type="button" class="btn-link" title=""
                                        data-toggle="tooltip" data-original-title="Comment">
                                        <i class="fa btn btn-primary"><input id="comment-button{{loop.index}}"
                                                type="submit" name="comment" class="comment-button"
                                                value="{{post['post_id']}}" />Comment</i>
                                    </label>

                                </form>
                            </li>

                            {% endfor %}
                            {% endif %}



                        </ul>
                    </div>
                    <!-- Post content end -->

                </div>

            </div>
        </div>

    </div>

</div>
<!-- Modal for posting content -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/home" method="POST" class="panel-activity__status" enctype="multipart/form-data">
                    <textarea name="text" focus placeholder="Share what you've been up to..."
                        class="form-control scrollbar-hide"
                        oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>
                    <div id="media-display">

                    </div>
                    <div class="actions">
                        <div class="btn-group">

                            <label for="media-upload" type="button" class="btn-link" title="" data-toggle="tooltip"
                                data-original-title="Post Media">
                                <i class="fa fa-image"><input id="media-upload" name="media" type="file" multiple
                                        accept=".jpg,.jpeg.,.gif,.png,.mov,.mp4" /></i>

                            </label>

                        </div>
                        <input type="submit" name="post_content" class="btn btn-sm btn-rounded btn-info" value="Post" />

                    </div>

            </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}