{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block main %}

<div class="container">

    <div class="row d-flex justify-content-center">
        <div class="mx-auto" style="width: 45rem;">


            <div class="panel-heading">
                <h3 class="panel-title">Activity Feed</h3>
            </div>
            <div class="panel-content panel-activity">
                <div class="p-4 profile-content white-box">
                    <div class="d-flex">
                        <div class="d-flex">
                            <div class="feed-profile-img">
                                <a href="/profile/{{ userData['page'] }}"><img
                                        src="{{ url_for('static',filename=userData['pic']) }}" alt="" /></a>
                            </div>
                        </div>
                        <div class="flex-grow-1 d-grid">
                            <button name="text" class="rounded-pill border post-text" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">Share what's been on your mind...</button>
                        </div>
                    </div>
                </div>
                <div class="profile-content">


                    <div class="tab-content p-0">
                        <ul class="panel-activity__list">
                            {% if posts %}
                            {% for post in posts %}

                            <li class="white-box p-4">
                                <div class="activity__list__header">
                                    <img src="{{ url_for('static',filename=post['pic'][6:]) }}" alt="" />
                                    <a href="/profile/{{ post['page'] }}">{{ post["name"] }}</a> Posted
                                </div>
                                <div class="activity__list__body entry-content">

                                    <ul class="gallery">
                                    {% for media in post["media"] %}
                                        {% if media[0] == "image"%}

                                        <li>
                                            <img src="{{ url_for('static', filename=media[1]) }}" alt="" />
                                        </li>

                                        {% endif %}
                                        {% if media[0] == "video" %}

                                        <li>
                                            <video class="res-video" controls width="400" alt="">
                                                <source src="{{ url_for('static', filename=media[1]) }}"
                                                    type="video/mp4" preload="metadata">
                                            </video>
                                        </li>

                                        {% endif %}
                                    {% endfor %}
                                    </ul>
                                    <div class="timeline-content">
                                        <p class="m-4 ms-0 p-2 text-break">

                                            {% if post['texttype'] == "story" %}

                                            {{ post["text"] }}</em>

                                            {% endif %}

                                        </p>
                                    </div>

                                </div>
                                <div class="activity__list__footer">
                                    <a href="#"> <i class="fa fa-thumbs-up"></i>{{ post["likes"] }}</a>
                                    <a href="#"> <i class="fa fa-comments"></i>{{ post["comments"] }}</a>
                                    <span> <i class="fa fa-clock"></i>{{ post["date"] }}</span>
                                </div>
                            </li>
                            
                            {% endfor %}
                            {% endif %}



                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/home" method="POST" class="panel-activity__status" enctype="multipart/form-data">
                    <textarea name="text" focus placeholder="Share what you've been up to..."
                        class="form-control scrollbar-hide"
                        oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>
                    <div id="media-display">

                    </div>
                    <div class="actions">
                        <div class="btn-group">
                    
                            <label for="media-upload" type="button" class="btn-link" title="" data-toggle="tooltip"
                                data-original-title="Post Media">
                                <i class="fa fa-image"><input id="media-upload" name="media" type="file" multiple accept=".jpg,.jpeg.,.gif,.png,.mov,.mp4" /></i>
                    
                            </label>
                    
                        </div>
                        <input type="submit" class="btn btn-sm btn-rounded btn-info" value="Post"/>
                         
                    </div>

            </div>
            
            </form>
        </div>
    </div>
</div>
{% endblock %}
