{% extends "layout.html" %}
{% block main %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="content" class="content content-full-width">
                <div class="profile">
                    <div class="profile-header">

                    <div class="profile-header-cover"></div>

                    <div class="profile-header-content">

                        <div class="profile-header-img">
                            <img src="{{ url_for('static',filename=profileData['pic']) }}" alt="Admin" class="rounded-circle" width="150"/>
                        </div>

                        <div class="profile-header-info">
                            <h4 class="m-t-10 m-b-5">{{profileData['name']}}</h4>
                            <p class="m-b-10">___________</p>

                            {% if userData['userID'] == profileData["userID"] %}

                                <a href="/profile/{{ profileData['page'] }}/settings" class="btn btn-sm btn-info mb-2">Edit Profile</a>

                            {% elif profileData['userIDstr'] in userData['pending'] %}

                                <form action="/profile/{{profileData['page']}}/" method="post">
                                    <input class="btn btn-sm btn-info mb-2" type="submit" name="friend_request" value="Accept Friend Request"/>
                                </form>
                                                    
                            {% elif userData['userIDstr'] not in profileData['friends'] and profileData['userIDstr'] not in userData['friends'] %}

                                <form action="/profile/{{profileData['page']}}/" method="post">
                                    <input class="btn btn-sm btn-info mb-2" type="submit" name="friend_request" value="Add Friend"/>
                                </form>

                            {% else %}

                                <button type="button" disabled class="btn btn-sm btn-info mb-2">Your Friend</button>

                            {% endif %}
                        </div>
                    </div>
                    <ul class="profile-header-tab nav nav-tabs">
                        <li class="nav-item"><a href="/profile/{{profileData['page']}}/" cla="ssnav-link active show" data-toggle="tab">POSTS</a></li>
                        <li class="nav-item"><a href="/profile/{{profileData['page']}}/settings" class="nav-link" data-toggle="tab">ABOUT</a></li>
                        <li class="nav-item"><a href="/profile/{{profileData['page']}}/photos" class="nav-link" data-toggle="tab">PHOTOS</a></li>
                        <li class="nav-item"><a href="/profile/{{profileData['page']}}/videos" class="nav-link" data-toggle="tab">VIDEOS</a></li>
                    </ul>

                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="mx-auto" style="width: 45rem;">
                <div class="profile-content">
                    {% block profile %}
                    {% endblock %}
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}