{% extends "profilelayout.html" %} 
{% block title %}Profile{% endblock %} 
{% block profile %}
<div class="profile-content" >
  <div class="tab-content p-0">
    <ul class="panel-activity__list">

      {% if posts %}
      {% for post in posts %}

      <li class="white-box pt-4 ps-4">
        <div class="activity__list__header">
          <img src="{{ url_for('static', filename=profileData['pic']) }}" alt="" />
          <a href="#">{{ profileData['name'] }}</a> Posted
        </div>
        <div class="activity__list__body entry-content">
          <ul class="gallery">
            {% for media in post["media"] %}
            {% if media[0] == "image"%}

            <li>
              <img src="{{ url_for('static', filename=media[1]) }}" alt="" />
            </li>

            {% endif %} 
            {% if media[0] == "video" %}

            <li>
              <video class="res-video" controls width="400" alt="" preload="metadata" >
                <source src="{{  url_for('static',filename=media[1]) }}" type="video/mp4" />
              </video>
            </li>

            {% endif %}
            {% endfor %}
          </ul>
          <div class="timeline-content">
            <p class="m-4 ms-0 p-2 text-break">
              
            {% if post['texttype'] %}

              <em>{{ post["text"] }}</em>
              
            {% endif %}

            </p>
          </div>
        </div>
        <div class="activity__list__footer">
          <a href="#"> <i class="fa fa-thumbs-up"></i>{{ post["likes"] }}</a>
          <a href="#"> <i class="fa fa-comments"></i>{{ post["comments"] }}</a>
          <span> <i class="fa fa-clock"></i>{{ post["date"] }}</span>
        </div>
      </li>
      {% endfor %}
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}
